<div class="content" style="width:100%;display: block;" role="main">
    <div class="top-menu" *ngIf="ismenurequerid">

        <button mat-button  routerLink="register">Usuarios</button>
    
        <button mat-button routerLink="courses">Cursos</button>
    
        <button mat-button >Disciplina</button>
    
        <button mat-button>Matriz Curricular</button>

        <button mat-button routerLink="login">Logout</button>
    </div>
    <div class="body-application">
<router-outlet></router-outlet>
</div>
</div>