
<mat-card>
    <mat-card-title>Cadastro de Usuario</mat-card-title>
    <mat-card-content>
      <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <mat-label>Nome:</mat-label>
        <mat-form-field>
          <input matInput type="text" name="name" ngModel required>
        </mat-form-field>
        <mat-label>Login:</mat-label>
        <mat-form-field>
          
          <input matInput type="text" name="username" ngModel placeholder="Login" required>
        </mat-form-field>
        <mat-label>Senha:</mat-label>
        <mat-form-field>
          <input matInput type="text" name="password" ngModel placeholder="Senha" required>
        </mat-form-field>
        <mat-label>Matricula:</mat-label>
        <mat-form-field>
          <input matInput type="text" name="registration" ngModel placeholder="Matrícula" required>
        </mat-form-field>
        <button mat-raised-button mat-dialog-close color="primary" type="submit">Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>  